<% if flash[:msg] %>
<div id="mensagem">
	<h2><%=flash[:msg]%></h2>
</div>
<% end %>

<% form_for @Group, :html => { :multipart => :true } do |f| %>
	<%=f.error_messages%>
	<label>
		Nome do Grupo:
		<%=f.text_field :name, :class => "textfield" %>
	</label><br><br>
	
	<button type="submit">Salvar</button>
<% end %>
