	<div id="Breadcrumb">
		administração > <a href="<%=senders_path%>">disparos</a>
	</div>
	<div id="Content">
		<span class="Titulo">Importação de E-mails</span>
		<div class="Linha"></div>
		<div class="Toolbar">
			<li class="Add"><%= link_to "Novo" , new_sender_path%></li>
			<li class="Help"><a href="#" id="btnAjuda">Ajuda</a></li>
		</div>
		<%= render :file  => "layouts/_admhelp.html.erb" %>
		<div id="Grid">
        <%if flash[:msg]%>
	        <%=flash[:msg]%>
        <%end%>
		</div>
		<div class="Linha"></div>
	</div>
